/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* body setup */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* login background and animation */
.login-bg {
    background: url('../assets/images/ironman2.jpg') no-repeat center center fixed;
    background-size: cover;
    animation: 
        bgFadeIn 1s ease-out,
        bgSlideIn 1.5s ease-out,
        bgPulse 30s infinite ease-in-out;
}

/* signup background and animation */
.signup-bg {
    background: url('../assets/images/ironman1.jpg') no-repeat center center fixed;
    background-size: cover;
    animation: 
        bgFadeIn 1s ease-out,
        bgSlideIn 1.5s ease-out,
        bgPulse 30s infinite ease-in-out;
}

/* container - flex */
.container {
    position: relative;
    width: 400px;
    padding: 25px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    overflow: hidden;
}