body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/images/luffy.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    animation: wave 8s infinite ease-in-out;
}